<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#if title}}{{title}}{{else}}Cleverfy{{/if}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" />
	<link rel="stylesheet" href="/assets/css/select2-bootstrap.css">
	<link rel="stylesheet" href="/assets/css/cleverfy-quizbot.css">
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="app">

	<div class="container">
		<div class="row">
        	<div class="col-lg-2">
		
		<nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
        	
        	<img src="/assets/img/logo.png" width="80" style="display: block; margin: 10px auto;">
        	<ul class="nav nav-pills nav-stacked">
				<li role="presentation" {{#if quizCreateActive}}class="active"{{/if}}><a href="/quiz-create"><i class="glyphicon glyphicon-plus"></i> New Quiz</a></li>
  				<li role="presentation" {{#if quizListActive}}class="active"{{/if}}><a href="/quiz-list"><i class="glyphicon glyphicon-list-alt"></i> My Quizzes</a></li>             
            </ul>
				<form id="logout-form" action="/log-out" method="post"><input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/></form>
				<div class="list-group" style="margin-top:50px;">					
  					<a class="list-group-item" href="#" onclick="$('#logout-form').submit();"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
				</div>

        </div><!-- /.navbar-collapse -->
    </nav>

			
			</div>
        	<div class="col-lg-10">
				{{#block "content"}}{{/block}}
			</div>
		</div>	
	</div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>   
    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
	     
	<script type="text/javascript">
	$(document).ready(function() {

		function showWikiFormGroups() {
			$('#wiki-overview-form-group').show();
			$('#wiki-submit-form-group').show();
		}
		
		function toggleWikiSpinner(show) {
			if (show) {
				$('#wiki-spinner').show();
			} else {
				$('#wiki-spinner').hide();	
			}						
		}
		
		$('#wiki-search').on('change', function(e) {
			var select2Data = $('#wiki-search').select2('data');
			$('#wiki-name').val(select2Data.text);
			toggleWikiSpinner(true);
			var url = 'http://en.wikipedia.org/wiki?curid=' + select2Data.id;									
			$.get('https://en.wikipedia.org/w/api.php', 
					{ format: 'json', action: 'query', redirects: '', prop: 'extracts', exintro: '', explaintext: '', pageids: select2Data.id}, function(data) {
				//pageid may be different then select2Data.id due to the redirect
				for (var pageid in data.query.pages) {
					$('#wiki-overview-text').val(data.query.pages[pageid].extract);
					var sentenceCount = (data.query.pages[pageid].extract.match(/[.,]/g) || []).length;
					$('#overview-estimate').html('(estimated approx. ' + (sentenceCount * 2) + ' questions)');	
				}
				
				showWikiFormGroups();
				toggleWikiSpinner(false);
				
			}, 'jsonp');
		});
		
		/*
		$.get('/extract-url-article?url=' + encodeURIComponent(url), function(data) {
					$('#wiki-detail-text').val(data.article);
					var sentenceCount = (data.article.match(/[.,]/g) || []).length;
					$('#detail-estimate').html('(estimated approx. ' + (sentenceCount * 2) + ' questions)');
					
					showWikiFormGroups();
					toggleWikiSpinner(false);
				});
				
		*/
		$('#wiki-search').select2({
			placeholder: "Type to select article to create quiz from",
			minimumInputLength: 1,
			ajax: {
			    url: "https://en.wikipedia.org/w/api.php",
			    dataType: 'jsonp',
			    quietMillis: 250,
			    data: function (term, page) {
			      return {
			        apfrom: term,
			        action: 'query',
			        redirects: '',
			        list: 'allpages',
			        aplimit: 10,
			        format: 'json'
			      };
			    },
			    results: function(data, page) {
			    	return {
			    		results: $.map(data.query.allpages, function(val, i ) {			    				    
			    			if (val.pageid && val.title) {
			    				return {id: val.pageid, text: val.title};	
			    			} else {
			    				return undefined;
			    			}
			    		})
			    	}
			    },		    	
			    cache: true
			  }
		});	
	});
	
	</script>
        
    <script type="text/javascript">
    $(document).ready(function(){    
        $('.list-group-item').on('shown.bs.collapse', function () {
           $(this).find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
        });

        $('.list-group-item').on('hidden.bs.collapse', function () {
           $(this).find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
        });
                
    });
        
    </script>
  </body>