{{#partial "content" }}
<form class="form-login" action="/log-in" method="post">
	<h2 class="form-login-heading">Welcome Back!</h2>
	{{#if loginFailed}}
		<div class="alert alert-danger" role="alert">Wrong email or password</div>
	{{/if}}
	{{#if userActivated}}
		<div class="alert alert-success" role="alert">Your account has been successfully activated.</div>
	{{/if}}
	{{#if verficationEmailSent}}
		<div class="alert alert-info" role="alert">Verification email has been sent to your email address. Check your mailbox and activate your account.</div>
	{{/if}}
	
	<label for="inputEmail" class="sr-only">Email address</label> 
	<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="" value=""> 
	<label for="inputPassword" class="sr-only">Password</label> 
	<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" value="">
	<!-- <div class="checkbox">
		<label> <input type="checkbox" value="remember-me">
			Remember me
		</label>
	</div>-->
	<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	<div align="center">
	<br />
	<!-- <p><a href="">Forgotten password?</a></p> -->
	<p>Don't have an account? <a href="/sign-up">Sign up</a></p>
	</div>
</form>
{{/partial}} 

{{> layouts/index}}
