  <nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Cleverfy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>
      </ul> -->
      
       
      {{#if signedIn}}
	  
	  <form action="/log-out" method="post" class="navbar-form navbar-right" role="Log out">	  
	  <a href="/quiz-list">{{user.email}}</a>	
	  	<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
        <input type="submit" class="btn btn-primary" value="Log out">
      </form>
      {{else}}
	  <form class="navbar-form navbar-right" role="Sign in">
        <a href="/log-in" class="btn btn-primary">Log in</a>
      </form>      
      {{/if}} 
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
