<nav>
  <ul class="pagination">
    <li>
      <a href="{{baseUrl}}/offset/{{firstOffset}}/limit/{{limit}}" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li>
      <a href="{{baseUrl}}/offset/{{prevOffset}}/limit/{{limit}}" aria-label="Previous">
        <span aria-hidden="true">&lsaquo;</span>
      </a>
    </li>
    {{#each pages}}
    	{{#if current}}
    		<li><a href="{{../baseUrl}}/offset/{{offset}}/limit/{{../limit}}"><strong>{{name}}</strong></a></li>
    	{{else}}
    		<li><a href="{{../baseUrl}}/offset/{{offset}}/limit/{{../limit}}">{{name}}</a></li>
    	{{/if}}    
    {{/each}}
    <li>
      <a href="{{baseUrl}}/offset/{{nextOffset}}/limit/{{limit}}" aria-label="Next">
        <span aria-hidden="true">&rsaquo;</span>
      </a>
    </li>
    <li>
      <a href="{{baseUrl}}/offset/{{lastOffset}}/limit/{{limit}}" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>