{{#partial "content" }}

<div style="margin-top: 40px;"></div>


<div class="row">
<div class="col-lg-6">
	<h1>
		{{quiz.name}} <small>Quiz</small>		
	</h1>
</div>
<div class="col-lg-6">
	<div class="progress" style="margin-top: 30px;">
	<div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}"
		aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">{{progress}}%</div>
</div>
</div>

</div>
{{#if correctAnswer}}
<div class="alert alert-success" role="alert"><strong><i class="glyphicon glyphicon-ok-circle"></i> Correct</strong>. Good job :)</div>
{{/if}} 
{{#if wrongAnswer}}
<div class="alert alert-danger" role="alert"><strong><i class="glyphicon glyphicon-remove-circle"></i> Wrong</strong>. Let's try next one.</div>
{{/if}}
{{#if answerIsMissing}}
<div class="alert alert-warning" role="alert">You forgot to select an answer.</div>
{{/if}}

<!-- <div class="alert alert-success" role="alert">Question was rated as useless. You can <a href="#/">skip it</a>.</div>-->
<div class="list-group">
	<div class="list-group-item">
		{{#if question.questionContext}}
		<div class="list-group-item-text">
			<p>Given that: {{question.questionContext}}</p>		
		</div>
		{{/if}}
		<h4 class="list-group-item-heading">{{question.question}}</h4>
		<div class="list-group-item-text">		
			<form action="/quiz-execute/{{quiz.id}}/answer/{{question.id}}" method="post"
				id="answer-form">
				{{#each question.answers}}
				<div class="radio">
					<label> 
						<input type="radio" name="answer" id="answer-{{@index}}" value="{{answer}}">{{answer}}
					</label>
				</div>
				{{/each}}
				<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
			</form>
		</div>
	</div>
</div>


<a href="/quiz-detail/{{quiz.id}}"
	class="btn btn-default btn-lg pull-left"
	onclick="return confirm('Are you sure to cancel the quiz? Your progress will be lost')">Cancel</a>


<div class="btn-group pull-right" role="group" aria-label="...">
	<!-- 
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-lg dropdown-toggle"
			data-toggle="dropdown" aria-expanded="false">
			Rate question <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">Important</a></li>
			<li><a href="#">Standard</a></li>
			<li><a href="#">Useless</a></li>
		</ul>
	</div>
	 -->
	<button class="btn btn-primary btn-lg"
		onclick="$('#answer-form').submit();">&nbsp;&nbsp;Next&nbsp;&nbsp;</button>
</div>
{{/partial}} 

{{> layouts/app}}
