{{#partial "content" }}
<div class="page-header">
  <h1>My Quizzes <small></small></h1>
</div>

{{#if quizDeleted}}
<div class="alert alert-success" role="alert">Quiz was <strong>successfully deleted</strong>.</div>
{{/if}}

<div class="text-center">
{{> pagination}}
</div>

<div class="list-group">
<table width="100%">
  {{#each quizzes}}
  <tr><td width="100%">
  <a class="list-group-item" href="/quiz-detail/{{id}}"><h5>{{name}}</h5>
  </a>
  </td><td>
  <form action="/quiz-delete/{{id}}" method="post">
  <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
  <button class="btn btn-lg" style="margin-left: 5px;" onclick="return confirm('Are you sure you want to delete quiz?');"><i class="glyphicon glyphicon-trash"></i></button>
  </form>
  </td></tr>
  {{else}}
  <div class="well">You have not created any quiz yet. <a href="/quiz-create"><strong>Let's create one</strong></a></div>
  {{/each}}
  </table>
</div>
<div class="text-center">
{{> pagination}}
</div>


{{/partial}} 

{{> layouts/app}}