{{#partial "content" }}

<div class="page-header">
  <h1><a href="/quiz-list"><i class="glyphicon glyphicon-chevron-left"></i></a>{{quiz.name}} <small>Quiz</small></h1>  
</div>

{{#if quizFinished}}
	<div class="alert alert-success" role="alert"><strong>Congratulations!</strong> You have successfully finished {{quiz.name}} quiz.</div>
{{/if}}
{{#if generationCompleted}}
<div class="alert alert-success" role="alert">{{quiz.name}} quiz generation was successfully <strong>finished</strong>.</div>
{{/if}}
{{#if extraQuestionAddedToQueue}}
<div class="alert alert-success" role="alert">Extra questions added to your queue. Good luck!</div>
{{/if}}

{{#if generationNotCompleted}}
<div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-repeat glyphicon-spinner"></i> {{quiz.name}} <strong>quiz generation is in progress</strong>.</div>
{{/if}}



<div class="row">
	<div class="col-md-3 col-xs-6">
		{{#if hasQuestionsForReview}}
		<div class="panel panel-default">
			<div class="panel-body" style="text-align: center;">
				<h2>{{questionForReviewCount}}<small> Questions</small></h2>
				<p style="font-family:'Raleway';">In queue for review</p>
				<div class="btn-group btn-group-justified">
					<a class="btn btn-primary btn-lg" type="button" href="/quiz-execute/{{quiz.id}}">Review</a>
				</div>
			</div>
		</div>
		{{else}}
		<div class="panel panel-success">
			<div class="panel-heading" style="text-align: center;">
				<h2>0<small> Questions</small></h2>
				<p>In queue</p>
				<form method="post" action="/quiz-add-extra-questions/{{quiz.id}}">			
				<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>	
				<button class="btn btn-default btn-lg" type="submit">Give me extra</button>
				</form>
			</div>
		</div>
		{{/if}}

	</div>
	<div class="col-md-3 col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body" style="text-align: center; height: 189px;">
				<h2 style="margin-top: -8px;"><small>Level</small> <span style="font-size:200%; line-height: 1.0;">{{quiz.userQuizLevel}}</span>/10</h2>
				<p style="font-family:'Raleway';">Your current level</p>
			</div>

		</div>

	</div>	
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body" style="text-align: center;">
				<h2>{{quiz.totalQuestionCount}}<small> Questions in quiz</small></h2>
				<p style="font-family:'Raleway';">On all levels</p>
				<a href="/quiz-browse/{{quiz.id}}" class="btn btn-lg btn-default">Browse</a>
			</div>
		</div>

	</div>	

</div>


{{#if generationNotCompleted}}
<script>
	window.setTimeout(function() {
		location.reload();
	}, 5000);
</script>
{{/if}}
{{/partial}} 

{{> layouts/app}}
