{{#partial "content" }}

<div class="page-header">
<a href="/quiz-execute/{{quiz.id}}" class="btn btn-primary btn-lg pull-right">Start Quiz</a>
  <h1>{{quiz.name}} <small>Quiz</small></h1>  
</div>

{{#if quizFinished}}
	<div class="alert alert-success" role="alert"><strong>Congratulations!</strong> You have successfully finished {{quiz.name}} quiz.</div>
{{/if}}
{{#if generationCompleted}}
<div class="alert alert-success" role="alert">{{quiz.name}} quiz generation was successfully <strong>finished</strong>.</div>
{{/if}}
{{#if generationNotCompleted}}
<div class="alert alert-info" role="alert">{{quiz.name}} <strong>quiz generation is in progress</strong>. Feel fry to try already generated questions.</div>
{{/if}}
<div class="text-center">
{{> pagination pagination}}
</div>
<div class="list-group">
{{#each questions}}
  <div class="list-group-item" data-toggle="collapse" data-target="#answers-{{id}}">
    <span class="list-group-item-heading"><i class="glyphicon glyphicon-chevron-down"></i> {{question}} <!-- <span class="badge pull-right">{{questionRating}}</span> --></span>
    <div class="list-group-item-text collapse" id="answers-{{id}}">
    <ul>
    {{#each answers}}
    	{{#if correct}}
        	<li><strong>{{answer}}</strong></li>
    	{{else}}
        	<li>{{answer}}</li>
    	{{/if}}
    {{/each}}
    </ul>    
    {{#if questionContext}}
    Context: {{questionContext}}
    {{/if}}
  </div>
  </div> 
{{/each}}
</div>
<div class="text-center">
{{> pagination pagination}}
</div>

{{#if generationNotCompleted}}
<script>
	window.setTimeout(function() {
		location.reload();
	}, 5000);
</script>
{{/if}}
{{/partial}} 

{{> layouts/app}}
