{{#partial "content" }}
<div class="page-header">
  <h1>New Quiz <small></small></h1>
</div>

  <div role="tabpanel">


  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#wiki" aria-controls="wiki" role="tab" data-toggle="tab">Wikipedia Article</a></li>
    <li role="presentation"><a href="#plain" aria-controls="plain" role="tab" data-toggle="tab">Plain Text</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="wiki">
    		<br>
			<form action="/quiz-create" method="post" id="wiki-form">
				
				<div class="form-group">
					<label for="name">Wikipedia Article <i id="wiki-spinner" class="glyphicon glyphicon-repeat glyphicon-spinner" style="display: none;"></i></label> <input
						id="wiki-search" class="form-control input-lg">						
				</div>
				
				<div class="form-group" style="display: none;" id="wiki-overview-form-group">
					<label for="text">Source Text <span id="overview-estimate"></span></label>
					<textarea rows="10" class="form-control" id="wiki-overview-text"
						name="text"></textarea>
				</div>
				<div class="form-group" style="display: none;" id="wiki-submit-form-group">
					<input type="hidden" name="name" id="wiki-name" />
					<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>				
					<button type="submit" class="btn btn-primary btn-lg pull-right">Generate Quiz</button>
				</div>				
			</form>
		</div>
    <div role="tabpanel" class="tab-pane" id="plain">
    		<br>
			<form action="/quiz-create" method="post" id="plain-form">
				<div class="form-group">
					<label for="name">Quiz Name</label> <input type="text"
						class="form-control" id="plain-name" name="name"
						placeholder="Enter quiz name">
				</div>

				<div class="form-group">
					<label for="text">Source Text</label>
					<textarea rows="10" class="form-control" id="plain-text" name="text" placeholder="Enter text to create quiz from."></textarea>
				</div>
				<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>				
				<button type="button" class="btn btn-default btn-lg" onclick="loadSample()">Sample Text</button>
				<button type="button" class="btn btn-primary btn-lg pull-right" onclick="wikiGenerateQuiz();">Generate Quiz</button>
			</form>
		</div>
  </div>
	</div>


  
  
  
<script>

function loadSample() {
	$("#name").val("World War I");
	$.get("/assets/sample-ww1.txt", function(data) {
		$("#text").val(data);
	});
}
</script>
{{/partial}} 

{{> layouts/app}}
