{{#partial "content" }}
<form class="form-signup" action="/sign-up" method="post">
	<h2 class="form-signup-heading">Create your Account</h2>
	{{#if logInFailed}}
		<div class="alert alert-danger" role="alert">Log in <strong>failed</strong>. Wrong username or password.</div>
	{{/if}}
	<div class="form-group">
	<label for="inputEmail">Email Address</label> 
	<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="" value=""> 
	</div>
	<label for="inputPassword">Password</label> 
	<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" value="">
	<!-- <div class="checkbox">
		<label> <input type="checkbox" value="remember-me">
			Remember me
		</label>
	</div>-->
	<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
	<div align="center">
	<br />
	<p>Already have an account? <a href="/log-in">Log in</a></p>
	</div>
</form>
{{/partial}} 

{{> layouts/index}}
